* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #ccc;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  
    background-color: white;
    background-image:
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0.05) 10%,
        rgba(0, 0, 0, 0) 20%,
        rgba(0, 0, 0, 0) 80%,
        rgba(0, 0, 0, 0.05) 90%,
        rgba(0, 0, 0, 0.25) 100%
      ),
      url(bottom-image.png),
      url(top-image.png);
  
    background-repeat:
      no-repeat,
      no-repeat,
      no-repeat;
  
    background-position:
      top left,
      bottom center,
      top center;
  
    background-size:
      100% 100%,
      100% auto,
      100% auto;
  
    border-top: 1mm solid #1a3a5c;
    border-bottom: 1mm solid #1a3a5c;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
  
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 128px 128px;
  
    filter: drop-shadow(2px 3px 4px rgba(0, 0, 0, 0.4));
  }